img{
    width: 100%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
    
    
}

.column {
    width: 600px;
    margin:40px auto;
    border:dotted 20px #229292;
    border-width: 10px;
    padding:30px;
}

p{
    border: solid 5px #929292;
    padding: 20px;
    border-radius: 10px;
}