img{
    width: 100%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
    background-color: lavenderblush;
    margin:0;
}

.column {
    width: 600px;
    margin:0px auto;
    background-color: lemonchiffon;
    padding: 1px 40px 40px 40px;
    border-left: solid 25px pink;
    border-right: solid 25px pink;
}

h1{
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}